body{
   text-align: center;
   background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-premium%2Fconcepto-fondo-grandes-datos-tecnologia-abstracta_8025162.htm&psig=AOvVaw3ypDC4Ucd_orALw8OyVSOY&ust=1691000496349000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKD2yvKJvIADFQAAAAAdAAAAABAE); 
   background-size: cover;
}
.heading{
   font-size: 26px;
   width: 100%;
   margin: 0px;
}
canvas{
   box-shadow: 10px 10px 10px;
   border-radius: 9px;
}